<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="icon" href="https://img.icons8.com/?size=48&id=Oi6NZDZTenrC&format=png" type="image/x-icon">
    <link rel="stylesheet" th:href="|@{css/style.css}|">
</head>
<body>

<div th:replace="~{/layouts/header :: header}"></div>

<main>
    <br><br><br>
    <h5>Мои друзья:</h5><br>
    <div class="container">
        <div th:if="${!user.friends.isEmpty()}" class="user-container">
            <div th:each="friend : ${user.friends}" class="user-block">
                <a th:href="'/user/' + ${friend.id}" title="Открыть страницу пользователя" style="color: green">
                    <img th:src="${friend.photo}" alt="Фото пользователя" class="profile-photo" />
                    <h6 th:text="${friend.name} + ' ' + ${friend.surname}" />
                    <div th:if="${friend.active}" class="online">
                        online
                    </div>
                    <div th:if="${!friend.active}" class="offline">
                        offline
                    </div>
                </a>
            </div>
        </div>
        <div th:if="${user.friends.isEmpty()}">
            <div class="container">
                <p>У вас пока нет друзей</p>
            </div>
        </div>
    </div><br><br>

    <h5>Мои подписчики:</h5><br>
    <div class="container">
        <div th:if="${!user.followers.isEmpty()}" class="user-container">
            <div th:each="follower : ${user.followers}" class="user-block">
                <a th:href="'/user/' + ${follower.id}" title="Открыть страницу пользователя">
                    <img th:src="${follower.photo}" alt="Фото пользователя" class="profile-photo" />
                    <h6 th:text="${follower.name + ' ' + follower.surname}"></h6>

                    <div th:if="${follower.active}" class="online">
                        online
                    </div>
                    <div th:if="${!follower.active}" class="offline">
                        offline
                    </div>
                </a>
                <a th:href="'/user/' + ${follower.id} + '/addfriend'" class="add-friend-link">принять в друзья</a>
            </div>
        </div>

        <div th:if="${user.followers.isEmpty()}">
            <div class="container">
                <p>У вас пока нет подписчиков</p>
            </div>
        </div>
    </div> <br><br>
</main>

<div th:replace="~{/layouts/footer :: footer}"></div>

</body>
</html>